.getStarted-right-offer, .getStarted-left-required, .domainSeach-list-item {
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  font-weight: 600;
}

.header_right-item-downBlock-link, .header_right-item, .header_left-item, .domainSeach-search-btn, .template-btn, .success-block-buttons-start, .getStarted-right-find, .getStarted-left-buttons-start {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.success-block-info, .getStarted-right-info, .getStarted-left-info {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.getStarted-right-up, .getStarted-left-up, .success-block-buttons-learn, .getStarted-left-buttons-learn {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 600;
}

.template-info, .services-table-row-td, .getStarted-right-option, .domainSeach-search-input {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.success-block-head {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

.getStarted-right-head {
  font-family: "Poppins", sans-serif;
  font-size: 27px;
  font-weight: 600;
}

.template-head, .success-head, .getStarted-left-head {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.3;
}

.template-btn, .success-block-buttons-start, .getStarted-right-find, .getStarted-left-buttons-start {
  padding: 10px 35px;
  background-color: black;
  border: 0.5px solid #000000;
  color: white;
  border-radius: 7px;
  cursor: pointer;
}
.template-btn:hover, .success-block-buttons-start:hover, .getStarted-right-find:hover, .getStarted-left-buttons-start:hover {
  transition: 0.15s linear;
  background-color: transparent;
  color: black;
  border: 0.5px solid #000;
  padding: 10px 35px;
}

.success-block-buttons-learn, .getStarted-left-buttons-learn {
  padding: 10px 15px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
}

.domainSeach-search-btn {
  width: 150px;
  padding: 12px 8px;
  margin: 0;
  border: 5px solid #00a4af;
  background-color: #008d97;
  color: white;
  font-weight: 600;
  border-radius: 0 7px 7px 0;
}
.domainSeach-search-btn:hover {
  transition: 0.15s linear;
  background-color: #00a4af;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  height: 3000px;
}

body:has(.headerDropMenu:hover) .downBlock {
  display: flex !important;
}

.header {
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0862745098);
  top: 0;
  z-index:999;
}
.header_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.header_left-item {
  padding: 15px 0;
  color: rgba(0, 0, 0, 0.5176470588);
}
.header_left-item:hover {
  transition: 0.2s linear;
  color: rgba(0, 0, 0, 0.7529411765);
}
.header_left-item-photo-img {
  width: 30px;
  height: 30px;
}
.header_left #HeaderLogo {
  padding: 10px 0 !important;
  display: flex;
  align-items: center;
  font-size: 22px !important;
  font-weight: 700 !important;
  color: #000000;
}
.header_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
}
.header_right-item {
  color: rgba(0, 0, 0, 0.5176470588);
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding: 15px 0;
}
.header_right-item:hover {
  transition: 0.2s linear;
  color: rgba(0, 0, 0, 0.7529411765);
}
.header_right-item-down-icon {
  width: 25px;
  height: 25px;
}
.header_right-item-img {
  width: 25px;
  height: 21px;
  opacity: 0.7;
}
.header_right-item-downBlock {
  width: 85px;
  display: none !important;
  position: absolute;
  top: 57px;
  left: -15px;
  padding: 12px 20px 18px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  border-radius: 0 0 15px 15px;
  border: 1px solid rgba(0, 0, 0, 0.0862745098);
  border-top: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 9px 7px 2px rgba(0, 0, 0, 0.0549019608);
}
.header_right-item-downBlock-link {
  color: rgba(0, 0, 0, 0.5176470588);
}
.header_right-item-downBlock-link:hover {
  transition: 0.2s linear;
  color: rgba(0, 0, 0, 0.7529411765);
}

.domainSeach {
  padding: 17px 5%;
  margin-top: 57px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  background-color: rgba(255, 255, 255, 0);
}
.domainSeach-search {
  display: flex;
  justify-content: space-between;
}
.domainSeach-search-input {
  width: 100%;
  padding: 12px 8px;
  margin: 0.5px;
  border: none;
  background-color: rgba(185, 185, 185, 0.2);
  border-radius: 3px 0 0 3px;
}
.domainSeach-search-input:focus {
  outline: 0.5px solid rgba(6, 168, 180, 0.4078431373);
}
.domainSeach-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 20px;
}
.domainSeach-list-item {
  display: flex;
  align-items: end;
  height: 15px;
}
.domainSeach-list-item-img {
  margin-right: 4px;
  width: 29px;
}

.getStarted {
  padding: 5px 5% 10px;
  display: grid;
  grid-template-columns: 5fr 2fr;
  background-color: rgba(255, 255, 255, 0);
}
.getStarted-left {
  padding: 0 0 70px 5%;
  margin-right: 15px;
  border-radius: 7px;
  background: url("../assets/handmade.jpg");
  background-position: 50% 65%;
  background-size: cover;
}
.getStarted-left:hover {
  transition: 0.2s linear;
  filter: grayscale(80%);
}
.getStarted-left-up {
  margin-top: 75px;
}
.getStarted-left-head {
  margin-top: 15px;
  max-width: 340px;
}
.getStarted-left-info {
  margin-top: 15px;
}
.getStarted-left-buttons {
  margin-top: 15px;
}
.getStarted-left-required {
  margin-top: 10px;
}
.getStarted-right {
  padding: 0 0 70px 5%;
  background-color: #d8efee;
  border-radius: 7px;
}
.getStarted-right-up {
  margin-top: 75px;
}
.getStarted-right-head {
  margin-top: 15px;
  max-width: 300px;
}
.getStarted-right-info {
  margin-top: 20px;
}
.getStarted-right-find {
  margin-top: 10px;
}
.getStarted-right-option {
  margin-top: 15px;
}
.getStarted-right-offer {
  margin-top: 10px;
}

.services {
  padding: 15px 5%;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0);
}
.services-table {
  width: 100%;
  border-collapse: collapse;
}
.services-table-row-td {
  padding: 15px 0;
  border: 1px solid rgba(0, 0, 0, 0.1725490196);
  text-align: center;
}
.services-table-row-td-img {
  width: 100px;
}
.services-table-row .rowspan {
  padding: 5px 0;
}

.success {
  width: 100%;
  height: auto;
  padding: 0 5%;
  margin: 45px 0 0;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
  justify-content: center;
}
.success .grida {
  margin-top: 70px;
  grid-area: 2/1/span 2/span 1;
}
.success .gridb {
  grid-area: 1/2/span 2/span 1;
}
.success .gridc {
  grid-area: 3/2/span 2/span 1;
}
.success-head {
  width: 100%;
  height: 250px;
}
.success-block {
  height: 700px;
  max-width: 400px;
  margin-bottom: 45px;
}
.success-block-photo-img {
  width: 100%;
  height: 500px;
  border-radius: 12px;
}
.template {
  padding: 50px 1%;
  height: auto;
  background-color: transparent;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.0745098039);
}
.template-block {
  display: flex;
  column-gap: 25px;
  margin: 30px auto;
  max-width: 1100px;
  justify-content: center;
}
.template-block-item {
  width: 16%;
  height: 350px;
  background: url("../assets/card_bg.jpeg");
  background-position: 83.7% 47%;
  background-size: 950px;
  border-radius: 10px;
  transition: 0.8s;
}
.template-block .activeItem {
  width: 47%;
  height: 350px;
  background-position: center;
  background-size: cover;
}/*# sourceMappingURL=style.css.map */