$black: #000;
$white: #fff;

$font_ss_h_footItem: #ffffff99;

$font_s_soft: #00000084;
$font_s_h_soft: #000000db;

$font_m: #000000;

$font_sm_footHead: #ffffffda;
$font_sm_h_soft: #0000002c;
$font_sm_h: #000000d1;
$font_sm_h_w: #ffffff;

$font_xxl: #000000df;

$button_w: #000;
$button_b: #fff;
$button_b_out: #000000;

$logo_footer_invert: 100%;
$forward_footer_invert: 0%;

$font_xl_bg: linear-gradient(#00a4af, #fff);

$bg: #fff;
$bg_footer: #000;



// $font_ss_h_footItem: #ffffff99;

// $font_s_soft: #00000084;
// $font_s_h_soft: #000000db;

// $font_m: #000000;

// $font_sm_footHead: #ffffffda;
// $font_sm_h_soft: #0000002c;
// $font_sm_h: #000000d1;
// $font_sm_h_w: #ffffff;

// $font_xxl: #000000df;

// $button_w: #000;
// $button_b: #fff;
// $button_b_out: #000000;

// $logo_footer_invert: 100%;
// $forward_footer_invert: 0%;

// $font_xl_bg: linear-gradient(#00a4af, #fff);