@import 'extend';
@import 'variable';

* {
    box-sizing: border-box;
}
body {
    background-color: #ffffff;
    height: 3000px;
}
body:has(.headerDropMenu:hover) .downBlock {
    display: flex !important;
}
// header-----------------------------------------
.header {
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg;
    position: fixed;
    border-bottom: 1px solid #00000016;
    top: 0;
    z-index:999;

    // header left -------------------------
    &_left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;

        &-logo {
            @extend %logo;
            &-icon {
                width: 30px;
                height: 30px;
            }
        } 

        &-item {
            padding: 15px 0;
            @extend %font_s;
            color: $font_s_soft;
            &:hover {
                transition: 0.2s linear;
                color: #000000c0;
            }
        }
    }
    // header right -----------------------
    &_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 15px;
        &-item {
            @extend %font_s;
            color: $font_s_soft;
            display: flex;
            align-items: center;
            cursor: pointer;
            position: relative;
            padding: 15px 0;
            &:hover {
                transition: 0.2s linear;
                color: #000000c0;
            }
            &-down-icon {
                width: 25px;
                height: 25px;
            }
            &-img {
                width: 25px;
                height: 21px;
                opacity: 0.7;
            }
            &-downBlock {
                width: 85px;
                display: none !important;
                position: absolute;
                top: 55px;
                left: -15px;
                padding: 12px 20px 18px;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
                align-items: center;
                row-gap: 10px;
                border-radius: 0 0 15px 15px;
                border: 1px solid #00000016;
                border-top: 1px solid #ffffff00;
                box-shadow: 0 9px 7px 2px #0000000e;
                &-link {
                    @extend %font_s;
                    color: #00000084;
                    &:hover {
                        transition: 0.2s linear;
                        color: #000000c0;
                    }
                }
            }
        }
    }
}

//  domain search section ------------------------------------------------------
.domainSeach {
    padding: 17px 5%;
    margin-top: 57px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-color: $bg;

    &-search {
        display: flex;
        justify-content: space-between;

        &-input {
            width: 100%;
            padding: 12px 8px;
            margin: .5px;
            border: none;
            background-color: #b9b9b933;
            border-radius: 3px 0 0 3px;
            @extend %font_sm_h;

            &:focus {
                outline: .5px solid #06a8b468;
            }
        }
        &-btn {
            @extend %button_search;
        }
    }
    &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 0 20px;

        &-item {
            display: flex;
            align-items: end;
            height: 15px;
            @extend %font_ss;


            &-img {
                margin-right: 4px;
                width: 29px;
            }
        }
    }
} 
//  get started / find domain --------------------------------------------------------
.getStarted {
    padding: 5px 5% 10px;
    display: grid;
    grid-template-columns: 5fr 2fr;
    background-color: $bg;


    &-left {
        padding: 0 0 70px 5%;
        margin-right: 15px;
        border-radius: 7px;
        background: url('../assets/handmade.jpg');
        background-position: 50% 65%;
        background-size: cover;
        &:hover {
            transition: .2s linear;
            filter:grayscale(80%);
        }


        &-up {
            margin-top: 75px;
            @extend %font_sm;
        }
        &-head {
            margin-top: 15px;
            max-width: 340px;
            @extend %font_xxl;
        }
        &-info {
            margin-top: 15px;
            @extend %font_s_h;
        }
        &-buttons {
            margin-top: 15px;

            &-start {
                @extend %button;
                color: $button_b;
                background-color: $button_b_out;
            }
            &-learn {
                @extend %button_w;
                color: $button_w;
            }
        }
        &-required {
            margin-top: 10px;
            @extend %font_ss;
        }
    }

    &-right {
        padding: 0 0 70px 5%;
        background-color: #d8efee;
        border-radius: 7px;

        &-up {
            margin-top: 75px;
            @extend %font_sm;
        }
        &-head {
            margin-top: 15px;
            max-width: 300px;
            @extend %font_xl;
        }
        &-info {
            margin-top: 20px;
            @extend %font_s_h;
        }
        &-find {
            margin-top: 10px;
            @extend %button;
            color: $button_b;
            background-color: $button_b_out;
        }
        &-option {
            margin-top: 15px;
            @extend %font_sm_h;
        }
        &-offer {
            margin-top: 10px;
            @extend %font_ss;
        }
    }
}
// Services section --------------------------------------
.services {
    padding: 35px 5% 15px;
    margin: 0;
    background-color: $bg;

    &-table {
        width: 100%;
        border-collapse: collapse;

        &-row {
            &-td {
                padding: 15px 0;
                border: 1px solid $font_sm_h_soft;
                text-align: center;
                @extend %font_sm_h;
                color: $font_sm_h;

                &-img {
                    width: 100px;
                }
            }
            .rowspan {
                padding: 5px 0;
            }
        }
    }
}
//  success section -------------------------------------
.success {
    width: 100%;
    height: auto;
    padding: 45px 5% 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 60px;
    justify-content: center;
    background-color: $bg;

    .grida {
        margin-top: 70px;
        grid-area: 2 / 1 / span 2 / span 1;
    }
    .gridb {
        grid-area: 1 / 2 / span 2 / span 1;
        
    }
    .gridc {
        grid-area: 3 / 2 / span 2 / span 1;
    }



    &-head {
        width: 100%;
        @extend %font_xxl;
        color: $font_xxl;
        height: 250px;
    }
    &-block {
        height: 700px;
        max-width: 400px;
        margin-bottom: 45px;
        &-photo {
            &-img {
                width: 100%;
                height: 500px;
                border-radius: 12px;
            }
        }
        
        &-head {
            @extend %font_m;
            color: $font_m;
        }
        &-info {
            @extend %font_s_h;
            color: $font_s_h_soft;
        }
        &-buttons {

            &-start {
                @extend %button;
                color: $button_b;
                background-color: $button_b_out;
            }
            &-learn {
                @extend %button_w;
                color: $button_w;
            }
        }
    }
}

// template section --------------------------------
.template {
    padding: 50px 1%;
    height: auto;
    background-color: transparent;
    text-align: center;
    background-color: $bg;
    
    &-head {
        @extend %font_xxl;
        color: $font_xxl;
    }
    &-info {
        @extend %font_sm_h;
        color: $font_sm_h;
    }
    &-block {
        display: flex;
        column-gap: 25px;
        margin: 30px auto;
        max-width: 1100px;
        justify-content: center;
        

        &-item {
            width: 16%;
            height: 350px;
            background: url('../assets/card_bg.jpeg');
            background-position: 83.7% 47%;
            background-size: 950px;
            border-radius: 10px;
            transition: .8s;
            aspect-ratio: 1/2;   // 175px / 350px

        }
        .activeItem {
            width: 47%;
            height: 350px;
            background-position: center;
            background-size: cover;
            aspect-ratio: 3/2; //  500px / 350px
        }
    }
    &-btn {
        @extend %button;
        color: $button_b;
        background-color: $button_b_out;
    }
}
// footer -------------------------------------------
.footer {
    padding: 20px 5% 20px;
    background-color: $bg_footer;

    // ------------------- up --------------------------
    &-up {
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 2fr;
        column-gap: 35px;
        padding: 0 0 35px 0;
        border-bottom: 1px solid #ffffff1f;


        &-left {

            &-head {
                @extend %font_sm_h;
                margin: 15px 0 15px;
                color: $font_sm_h_w;
            }

            &-form {
                display: flex;
                position: relative;
                &-text {
                    width: 100%;
                    padding: 13.5px 170px 13.5px 20px;
                    color: #ffffff;
                    background-color: #1b1b1b;
                    border: none;
                    border-radius: 3px 7px 7px 3px;
                    box-sizing: unset;
                    @extend %font_sm_h;
                    &::placeholder {
                        color:white;
                    }
                    &:focus {
                        background-color: #000000;
                        outline: 1.5px solid #00a3af55;
                        &::placeholder {
                            color:#00a4af;
                        }
                    }
                }
                &-btn {
                    @extend %button_footer;
                }
            }
        }

        &-right {
            padding: 0 0 0 20px;

            &-head {
                @extend %font_sm_h;
                margin: 15px 0 15px;
                color: $font_sm_h_w;
            }
            &-block {
                display: flex;
                align-items: center;
                column-gap: 5px;
                height: 49.72px;

                &-logo {
                    @extend %logo_big;
                    text-decoration: none;
                    &-icon-img {
                        filter: invert($logo_footer_invert);
                        width: 33px;
                        height: 33px;
                    }
                    &-text {
                        @extend %font_xl;
                        background-image: $font_xl_bg;
                        background-clip: text;
                        background-size: cover;
                        color: transparent;
                    }
                } 
                &-info {
                    padding: 2px;
                    margin: 0 5px 0 0;
                    @extend %font_sm_h;
                    color: $font_sm_h_w;
                }
                &-forward {
                    transform: rotate(-90deg);
                    filter: invert($forward_footer_invert);
                    width: 49px;
                    height: 70px;
                    margin: 0;
                }
            }
        }
    }
    // ------------- center -------------------
    &-center {
        padding: 20px 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &-list {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;

            a:nth-child(1) {
                color: $font_sm_footHead;
                @extend %font_sm;
                &:hover {
                    color: #00a3afb2;
                }
            }

            a {
                @extend %font_ss_h;
                color: $font_ss_h_footItem;
                user-select: none;
                transition: .1s linear;
                padding-top: 13px;
                &:hover {
                    color: #fffffff6;
                }
            }
        }
    }
}


















// #bgText {
//     margin: 150px auto;
//     text-align: center;
//     font-family: "Poppins";
//     font-weight: 700;
//     font-size: 60px;
//     background: url("../assets/bgWallpaper.jpg");
//     background-size: contain;
//     background-clip: text;
//     color: transparent;
// }